<section>   
<div class="wrap">

  <h2>Portfolio</h2>
    
  <!-- Define all of the tiles: -->
  <div class="box">
    <div class="boxInner">
<img src="resources/img/4.jpg" />      <!--<div class="titleBox">An old greenhouse</div>-->
<div class="overlay">
    <div class="text">
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
    </div>
  </div>

  <div class="box">
    <div class="boxInner">
      <img src="resources/img/1.jpg" />
      <!--<div class="titleBox">An old greenhouse</div>-->
      <div class="overlay">
    <div class="text">
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
    </div>
  </div>

  <div class="box">
    <div class="boxInner">
      <img src="resources/img/2.jpg" />
      <!--<div class="titleBox">An old greenhouse</div>-->
      <div class="overlay">
    <div class="text">
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
    </div>
  </div>

  <div class="box">
    <div class="boxInner">
      <img src="resources/img/3.jpg" />
      <!--<div class="titleBox">An old greenhouse</div>-->
      <div class="overlay">
    <div class="text">
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
    </div>
  </div>

  <div class="box">
    <div class="boxInner">
      <img src="resources/img/4.jpg" />
      <!--<div class="titleBox">An old greenhouse</div>-->
      <div class="overlay">
    <div class="text">
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
    </div>
  </div>

  <div class="box">
    <div class="boxInner">
      <img src="resources/img/5.jpg" />
      <!--<div class="titleBox">Purple wildflowers</div>-->
      <div class="overlay">
    <div class="text">
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
    </div>
  </div>
  <div class="box">
    <div class="boxInner">
      <img src="resources/img/6.jpg" />
      <!--<div class="titleBox">A birdfeeder</div>-->
      <div class="overlay">
    <div class="text">
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
    </div>
  </div>
  <div class="box">
    <div class="boxInner">
      <img src="resources/img/7.jpg" />
      <!--<div class="titleBox">Crocus close-up</div>-->
      <div class="overlay">
    <div class="text">
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
    </div>
  </div>
  <div class="box">
    <div class="boxInner">
      <img src="resources/img/8.jpg" />
      <!--<div class="titleBox">The garden shop</div>-->
      <div class="overlay">
    <div class="text">
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
    </div>
  </div>
  <div class="box">
    <div class="boxInner">
      <img src="resources/img/9.jpg" />
      <!--<div class="titleBox">Spring daffodils</div>-->
      <div class="overlay">
    <div class="text">
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
    </div>
  </div>
  <div class="box">
    <div class="boxInner">
      <img src="resources/img/10.jpg" />
      <!--<div class="titleBox">Iris along the path</div>-->
      <div class="overlay">
    <div class="text">
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
    </div>
  </div>
  <div class="box">
    <div class="boxInner">
      <img src="resources/img/11.jpg" />
      <!--<div class="titleBox">The garden blueprint</div>-->
      <div class="overlay">
    <div class="text">
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
    </div>
  </div>
 
 
  
</div>
</section>