/*We have some default styles for the body: a background color, removing the padding/margin etc.*/

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-size: contain;
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../../../../resources/img/bgSkull.png);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.overlay a {
    color: black;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 35px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}



section {
    padding: 50px 0;
    margin: 0; 
    background-image: linear-gradient(rgba(255,255,255,0.95),rgba(255,255,255,0.95)), url(../../../../../resources/img/bgSkull.png);
    background-size: cover;
    width:100%; 
    
    background-position: center;
    /*-webkit-filter: grayscale(100%); 
    filter: grayscale(100%);*/
    /*background: no-repeat;*/
    /*background-position-y: 10%;*/
    text-align: center;
    
    /*height: 100vh;*/
    background-attachment: fixed;
}

h2 {
    color: black;
}

body {
   margin: 0;
   padding: 0;
   background: #EEE;
   font: 10px/13px 'Lucida Sans',sans-serif;
}
/*Here's the "wrapper" that will hold all of our tiles.*/
.wrap {
   overflow: hidden;   
   /*The use of overflow:hidden allows us to apply floats to the tiles within.*/
   margin: 10px;
}
/*Next up is the box (which corresponds to a tile).  */
.box {
   float: left;   
   /*The float creates the grid, by ensuring that tiles are automatically laid out in rows.*/
   position: relative;   
   /*The relative positioning, used in conjunction with position:absolute on boxInner, makes the boxes remain square regardless of content.*/
   width: 25%;   
   /*The width and padding-bottom are what determine the size of the box and make it square. */
   padding-bottom: 24%;
   
}
/*This is the actual content area for each tile.  It is positioned with 10 pixels around each edge.*/
.boxInner {
   position: absolute;
   left: 10px;
   right: 10px;
   top: 10px;
   /*bottom: 10px;*/
   overflow: hidden;
}
/*We want our images (which are square) to fill the full tile width, so we use width:100%*/


.boxInner img {
   width: 100%;
   overflow: hidden;
    height: 300px;
   /*border-radius: 50%;*/
   border: 4px solid black;
   object-fit: cover;
}


.boxInner:hover .overlay {
  bottom: 10px;
  height: 100%;

    /*border: none;
    overflow: hidden;*/
    /*border-radius: 28px;*/
}

.boxInner:hover .overlay a {
    color: white;
}

.boxInner img:hover{
  /*bottom: 10px;
  height: 100%;*/
  /*top: 0px;*/

    /*border: none;
    overflow: hidden;*/
    /*border-radius: 28px;*/
}


/*Here are the hover styles used to reveal the text box.  Note that we have separate styles for touch and non-touch environments; more on that in a moment.*/
/*body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
   margin-bottom: 0;
}*/
/*Here are our media queries to "snap" the number of tiles per row:*/
@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
   .box {
    width: 100%;
    padding-bottom: 70%;
}


   

   .boxInner img {
       height: auto;
       height: 240px;
    border: 4px solid black;
    object-fit: cover;
   }

}
@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   .box {
      width: 50%;
      padding-bottom: 50%;
   }

   .boxInner img {
      
       /*height: auto;*/
       height: 240px;
    border: 4px solid black;
    object-fit: cover;
   }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
   .box {
      width: 33.3%;
    padding-bottom: 28.3%;
   }

   .boxInner img {
       /*height: auto;*/
       height: 240px;
    border: 4px solid black;
    object-fit: cover;
   }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
   /* Medium desktop: 4 tiles */
   .box {
      width: 25%;
      padding-bottom: 25%;
   }

   .boxInner img {
       /*height: auto;*/
       height: 240px;
    border: 4px solid black;
    object-fit: cover;
   }
}