<div [@fadeInOut]="fadeInOut" *ngIf="pageIndex=='slideOne'" class="mainBg">
    <div class="middle">
        <!--[@signal]="signal"-->
        <span>
            <button class="leftButton"(click)="goBackData()">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </button>
        </span> 
       
       <img (click)="animateMe()" src="resources/img/logoRare.png" alt="OurLogo" class="logo">

        <span>
            <button class="rightButton" (click)="setNewData()">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </button>
        </span>

        


    </div>
    <!--<a class="btn btn-full" href="home#booking">Book Now</a>-->
    <button class="bookNow">Book Now</button>
    <button class="explore">Explore</button>
    
</div>