<section class="section-portfolio">
    <!--<h2>Our Portfolio</h2>-->
    <ul class="portfolio-showcase clearfix">
        <li *ngFor="let image of portfolioArray">
            <figure class="portfolio-photo">
                <img src={{image.imageStorageRef}} />
                <!--<img src="resources/img/12.jpg" alt="Image 1">-->
            </figure>
        </li>
        <!--<li>-->
            <!--<figure class="portfolio-photo">
                <img src="resources/img/2.jpg" alt="Image 2">
              
            </figure>
        </li>
        <li>
            <figure class="portfolio-photo">
                <img src="resources/img/8.jpg" alt="Image 3">
              
            </figure>
        </li>
        <li>
            <figure class="portfolio-photo">
                <img src="resources/img/4.jpg" alt="Image 4">
              
            </figure>
        </li>
    </ul>
    <ul class="portfolio-showcase clearfix">
        <li>
            <figure class="portfolio-photo">
                <img src="resources/img/5.jpg" alt="Image 5">
            </figure>
        </li>
        <li>
            <figure class="portfolio-photo">
                <img src="resources/img/6.jpg" alt="Image 6">
              
            </figure>
        </li>
        <li>
            <figure class="portfolio-photo">
                <img src="resources/img/7.jpg" alt="Image 7">
              
            </figure>
        </li>
        <li>
            <figure class="portfolio-photo">
                <img src="resources/img/3.jpg" alt="Image 8">
              
            </figure>
        </li>-->
    </ul>

    
</section>