<section class="testimonials">
    <!--<div class="infoi">
    
     
        
        <iframe width="560" height="315" [src]="url" frameborder="0" allowfullscreen>
       
    </iframe>
     
</div>-->
    <div class="row">
        
        <h2>
            What our customers Think
        </h2>
    </div>
    <div class="row">
        <div class="col span-1-of-3">
            <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quam cumque, vero quo beatae incidunt quia, accusamus est molestias tempore sed explicabo labore esse, consectetur natus possimus repellendus, alias amet.
                <cite><img src="resources/img/customer-1.jpg" alt="Tom"> Tom Comerford</cite>
            </blockquote>
        </div>
         <div class="col span-1-of-3">
            <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quam cumque, vero quo beatae incidunt quia, accusamus est molestias tempore sed explicabo labore esse, consectetur natus possimus repellendus, alias amet.
                <cite><img src="resources/img/customer-2.jpg" alt="Jamie"> Jamie Jones </cite>
            </blockquote>
        </div>
         <div class="col span-1-of-3">
            <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quam cumque, vero quo beatae incidunt quia, accusamus est molestias tempore sed explicabo labore esse, consectetur natus possimus repellendus, alias amet.
                <cite><img src="resources/img/customer-3.jpg" alt="Harmon"> Harmon Peters</cite>
            </blockquote>
        </div>
    </div>



</section>