/*li {
    border-bottom: 1px solid #e4e4e4;
    cursor: pointer;
}*/

img {
    width: 80px;
    border-radius: 50%;
}

.backBtn {
     /*background-image: -webkit-linear-gradient(top, #deab36 0, #deab36 22%, #deab36 48%, #deab36 73%, #d79618 100%);*/
    background: black;
    color: #fff;
    font-size: 15px;
    border: none;
    float: left;
    margin-top: 4px;
    /*margin-top: 25px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 0px;*/
    /*border-radius: 4px;*/
    width: 20px;
    /*border: 2px solid #DAA520;*/
    height: 35px;
}

h1 {
    margin-left: 0px;
}

.row {
    text-align: center;
}

/*.button-num {
    padding-left: 30px;
    padding-right: 30px;
    background-image: -webkit-linear-gradient(top, #deab36 0, #deab36 22%, #deab36 48%, #deab36 73%, #d79618 100%);
    border: 1px solid #ffc13d;
    font-family:  'Lato','Arial', 'sans-serif';
    color: #fff;
    margin: 0 auto;
    font-weight: 400;
  
    border-radius: 30px;
    padding-bottom: 10px;
    cursor: pointer;
    padding-top: 10px;
    float: right;

}*/



li {
 
    border-bottom: 1px solid rgba(228, 228, 228, 0.22);
    cursor: pointer;
}

/*.button-num {
    padding-left: 42px;
    padding-right: 42px;
    background-image: -webkit-linear-gradient(top, #deab36 0, #deab36 22%, #deab36 48%, #deab36 73%, #d79618 100%);
    border: 1px solid #DAA520;
    color: #000;
    margin-top: 50px;
    border: 4px solid #000; 
    border-radius: 5px;
}*/

h2 {
    color: white;
}

.button-num {
    padding-left: 20px;
    padding-right: 20px;
    /*background-color: #dca730;*/
    background-color: transparent;
    font-family: 'Oswald', sans-serif;
    border: 3px solid white;
    text-transform: uppercase;
    font-size: 18px;
    /*font-family:  'Lato','Arial', 'sans-serif';*/
    color: white;
    margin: 0 auto;
    margin-top: 8px;
    /*font-weight: 400;*/
    /*width: 100px;*/
    /*margin-top: 50px;*/
    /*border: 4px solid #000; */
    /*border-radius: 30px;*/
    padding-bottom: 5px;
    cursor: pointer;
    padding-top: 5px;
    float: right;
    /*margin-bottom: 15px;*/
}