<section class="locations">
    <!--<div class="row">
        <h2>Check Out Our Staff...</h2>
    </div>-->
    <div class="rowUsed">
          <div class="oneThird">

 <!--<h1>James Monroe</h1>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure voluptatem illum molestias aliquid temporibus sapiente inventore veniam obcaecati esse architecto dolore fugit impedit assumenda, dolores quaerat autem, velit veritatis? Perferendis.</p>
             <div class="center">
             <ul class="social-links">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
            </div>-->

            <img src="resources/img/barber1.jpg" alt="Lisbon">
            <div class="overlay">
    <div class="text">
        <p>View Portfolio</p> 
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
            <!--<h3>James Keegan</h3>
            <div class="city-feature">
               <i class="fa fa-map-marker icon-small"></i>5 Cope Street
            </div>
            <div class="city-feature">
              <i class="fa fa-phone icon-small"></i>01 456 3255
            </div>
             <div class="city-feature">
             <i class="fa fa-facebook-official icon-small"></i>
             <a href="#">@BedfordJones</a>
            </div>-->
        </div>

          <div class="oneThird">

 <!--<h1>James Monroe</h1>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure voluptatem illum molestias aliquid temporibus sapiente inventore veniam obcaecati esse architecto dolore fugit impedit assumenda, dolores quaerat autem, velit veritatis? Perferendis.</p>
             <div class="center">
             <ul class="social-links">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
            </div>-->

            <img src="resources/img/barber2.jpg" alt="Lisbon">
            <div class="overlay">
    <div class="text">
        <p>View Portfolio</p> 
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
            <!--<h3>James Keegan</h3>
            <div class="city-feature">
               <i class="fa fa-map-marker icon-small"></i>5 Cope Street
            </div>
            <div class="city-feature">
              <i class="fa fa-phone icon-small"></i>01 456 3255
            </div>
             <div class="city-feature">
             <i class="fa fa-facebook-official icon-small"></i>
             <a href="#">@BedfordJones</a>
            </div>-->
        </div>
        <div class="oneThird">

 <!--<h1>James Monroe</h1>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure voluptatem illum molestias aliquid temporibus sapiente inventore veniam obcaecati esse architecto dolore fugit impedit assumenda, dolores quaerat autem, velit veritatis? Perferendis.</p>
             <div class="center">
             <ul class="social-links">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
            </div>-->

            <img src="resources/img/barber3.jpg" alt="Lisbon">
            <div class="overlay">
    <div class="text">
        <p>View Portfolio</p> 
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
            <!--<h3>James Keegan</h3>
            <div class="city-feature">
               <i class="fa fa-map-marker icon-small"></i>5 Cope Street
            </div>
            <div class="city-feature">
              <i class="fa fa-phone icon-small"></i>01 456 3255
            </div>
             <div class="city-feature">
             <i class="fa fa-facebook-official icon-small"></i>
             <a href="#">@BedfordJones</a>
            </div>-->
        </div>

         <div class="oneThird">
             <!--<h2>James Monroe</h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure voluptatem illum molestias aliquid temporibus sapiente inventore veniam obcaecati esse architecto dolore fugit impedit assumenda, dolores quaerat autem, velit veritatis? Perferendis.</p>
             <div class="center">
             <ul class="social-links">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
            </div>-->
            <img src="resources/img/barber4.jpg" alt="Lisbon">
            <div class="overlay">
    <div class="text">
        <p>View Portfolio</p> 
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
            <!--<h3>Nidge Warren</h3>
            <div class="city-feature">
               <i class="fa fa-map-marker icon-small"></i>5 Cope Street
            </div>
            <div class="city-feature">
              <i class="fa fa-phone icon-small"></i>087 298 499
            </div>
             <div class="city-feature">
             <i class="fa fa-facebook-official icon-small"></i>
             <a href="#">@BedfordStuy</a>
            </div>-->
        </div>


         <div class="oneThird">
            <img src="resources/img/barber4.jpg" alt="Lisbon">
            <div class="overlay">
    <div class="text">
        <p>View Portfolio</p> 
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
            <!--<h3>Barry Cotton</h3>
            <div class="city-feature">
               <i class="fa fa-map-marker icon-small"></i> 5 Cope Street
            </div>
            <div class="city-feature">
              <i class="fa fa-phone icon-small"></i>085 344 529
            </div>
             <div class="city-feature">
             <i class="fa fa-facebook-official icon-small"></i>
             <a href="#">@BedfordMaple</a>
            </div>-->
        </div>


         <!--<div class="col span-1-of-4 box">
            <img src="resources/img/barber4.jpg" alt="Lisbon">
            <h3> Issy Jones</h3>
            <div class="city-feature">
               <i class="fa fa-map-marker icon-small"></i>5 Cope Street
            </div>
            <div class="city-feature">
              <i class="fa fa-phone icon-small"></i>086 333 290
            </div>
             <div class="city-feature">
             <i class="fa fa-facebook-official icon-small"></i>
             <a href="#">@BedfordMarket</a>
            </div>
        </div>-->

    </div>

      <div class="rowUsed">
        <div class="oneThird">

 <!--<h1>James Monroe</h1>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure voluptatem illum molestias aliquid temporibus sapiente inventore veniam obcaecati esse architecto dolore fugit impedit assumenda, dolores quaerat autem, velit veritatis? Perferendis.</p>
             <div class="center">
             <ul class="social-links">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
            </div>-->

            <img src="resources/img/barber3.jpg" alt="Lisbon">
            <div class="overlay">
    <div class="text">
        <p>View Portfolio</p> 
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
            <!--<h3>James Keegan</h3>
            <div class="city-feature">
               <i class="fa fa-map-marker icon-small"></i>5 Cope Street
            </div>
            <div class="city-feature">
              <i class="fa fa-phone icon-small"></i>01 456 3255
            </div>
             <div class="city-feature">
             <i class="fa fa-facebook-official icon-small"></i>
             <a href="#">@BedfordJones</a>
            </div>-->
        </div>

         <div class="oneThird">
             <!--<h2>James Monroe</h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure voluptatem illum molestias aliquid temporibus sapiente inventore veniam obcaecati esse architecto dolore fugit impedit assumenda, dolores quaerat autem, velit veritatis? Perferendis.</p>
             <div class="center">
             <ul class="social-links">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
            </div>-->
            <img src="resources/img/barber2.jpg" alt="Lisbon">
            <div class="overlay">
    <div class="text">
        <p>View Portfolio</p> 
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
            <!--<h3>Nidge Warren</h3>
            <div class="city-feature">
               <i class="fa fa-map-marker icon-small"></i>5 Cope Street
            </div>
            <div class="city-feature">
              <i class="fa fa-phone icon-small"></i>087 298 499
            </div>
             <div class="city-feature">
             <i class="fa fa-facebook-official icon-small"></i>
             <a href="#">@BedfordStuy</a>
            </div>-->
        </div>


         <div class="oneThird">
            <img src="resources/img/barber1.jpg" alt="Lisbon">
            <div class="overlay">
    <div class="text">
        <p>View Portfolio</p> 
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
            <!--<h3>Barry Cotton</h3>
            <div class="city-feature">
               <i class="fa fa-map-marker icon-small"></i> 5 Cope Street
            </div>
            <div class="city-feature">
              <i class="fa fa-phone icon-small"></i>085 344 529
            </div>
             <div class="city-feature">
             <i class="fa fa-facebook-official icon-small"></i>
             <a href="#">@BedfordMaple</a>
            </div>-->
        </div>


         <!--<div class="col span-1-of-4 box">
            <img src="resources/img/barber4.jpg" alt="Lisbon">
            <h3> Issy Jones</h3>
            <div class="city-feature">
               <i class="fa fa-map-marker icon-small"></i>5 Cope Street
            </div>
            <div class="city-feature">
              <i class="fa fa-phone icon-small"></i>086 333 290
            </div>
             <div class="city-feature">
             <i class="fa fa-facebook-official icon-small"></i>
             <a href="#">@BedfordMarket</a>
            </div>
        </div>-->

    </div>
</section>