<section class="pricing-section">
    <div class="row">
        <h2>Get The Best deals!</h2>
    </div>
    <div class="row">
        <div class="col span-1-of-3">
            <div class="plan-box">
                <div>
                <h3>Fifth Cut Free</h3>
                <p class="plan-price">€20<span>/per cut</span></p>
                <p class="plan-price-cut">That's better than you'll believe</p>
                </div>
                <div>
                    <ul>
                         <li><i class="fa fa-check"></i><span>Online Booking</span></li>
                        <li><i class="fa fa-check"></i><span>Earn Points</span></li>
                        <li><i class="fa fa-check"></i><span>Get 20% Off</span></li>
                    </ul>
                </div>
                <div><button class="submitButton">Book Now</button>
                </div>
            </div>
        </div>

         <div class="col span-1-of-3">
            <div class="plan-box">
                <div>
                <h3>2 For 1 on Fridays</h3>
                <p class="plan-price">€20<span>/all in</span></p>
                <p class="plan-price-cut">That's better than you'll believe</p>
                </div>
                <div>
                    <ul>
                        <li><i class="fa fa-check"></i><span>Online Booking</span></li>
                        <li><i class="fa fa-check"></i><span>No Waiting Around</span></li>
                        <li><i class="fa fa-check"></i><span>Call In Store</span></li>
                    </ul>
                </div>
                <div><button class="submitButton">Book Now</button>
                </div>
            </div>
        </div>

         <div class="col span-1-of-3">
            <div class="plan-box">
                <div>
                <h3>The Student Deal</h3>
                <p class="plan-price">€15<span>/per cut</span></p>
                <p class="plan-price-cut">That's better than you'll believe</p>
                </div>
                <div>
                    <ul>
                        <li><i class="fa fa-check"></i><span>Online Booking</span></li>
                        <li><i class="fa fa-check"></i><span>Must Show Student ID</span></li>
                        <li><i class="fa fa-check"></i><span>Available to under 16s also</span></li>
                    </ul>
                </div>
                <div><button class="submitButton">Book Now</button>
                </div>
            </div>
        </div>
    </div>
</section>