<div class="container" *ngIf="serviceSelected=='stripe'">


<h2>Booking Confirmed!!!!</h2>

<!--<form action="" method="POST" id="payment-form" (submit)="getToken()">
    <h1>Please Enter Card Details</h1><br>
  <span class="payment-message">{{message}}</span>

  <div class="form-row">
    <label>
     
      <input [(ngModel)]="cardNumber" placeholder="Card Number"class="form-rowInput" name="card-number" type="text" size="20" data-stripe="number">
    </label>
  </div>

  <div class="form-row">
    <label>
      
      <input [(ngModel)]="expiryMonth" placeholder="MM" class="form-rowInput d" name="expiry-month" type="text" size="2" data-stripe="exp_month"><span> / </span> 
      <input [(ngModel)]="expiryYear"  placeholder="YY" class="form-rowInput d" name="expiry-year" type="text" size="2" data-stripe="exp_year">
    </label>
    
    
  </div>

  <div class="form-row">
    <label>
      
      <input [(ngModel)]="cvc" placeholder="CVC" class="form-rowInput e" name="cvc" type="text" size="4" data-stripe="cvc">
    </label>
  </div>

  <input type="submit" value="Submit Payment">
</form>-->

</div>