 <ul *ngIf="serviceSelected=='time'"> 
                <div class="row"><button class="backbtn" (click)="backToDates()"> <i class="fa fa-arrow-left" aria-hidden="true"></i> </button> <h1>Pick your {{serviceSelected}}...</h1></div> 
                <hr>
                <li *ngFor="let timeModel of timesArray" (click)="passTimeData(timeModel)"><span>{{timeModel.time}}</span><button class="button-num">Book</button><span class="cost-of-cut"></span><br> <h4>{{ date | date :'fullDate' }}</h4> </li>
               
                <!--<img src="resources/img/barber4.jpg" alt="">-->

                <!--<li><span>Beard Trim + Cut</span><a class="btn btn-full" href="#">Book</a><span class="cost-of-cut">€14</span><br> <h4>Full Hot Towel Shave included </h4></li><hr>
                <li><span>Highlights + Cut</span><a class="btn btn-full" href="#">Book</a><span class="cost-of-cut">€18</span><br> <h4>Full Wash, Blowdry and Cut</h4> </li><hr>
                <li><span>Fade Cut </span><a class="btn btn-full" href="#">Book</a><span class="cost-of-cut">€16</span><br> <h4>Tight cut back and sides</h4>  </li><hr>
                <li><span>Beard Trim + Cut</span><a class="btn btn-full" href="#">Book</a><span class="cost-of-cut">€22</span><br> <h4>Full Hot Towel Shave included </h4> </li><hr>
                <li><span>Highlights + Cut</span><a class="btn btn-full" href="#">Book</a><span class="cost-of-cut">€25</span><br> <h4>Full Wash, Blowdry and Cut</h4> </li><hr>
                <li><span>Highlights + Cut</span><a class="btn btn-full" href="#">Book</a><span class="cost-of-cut">€18</span><br> <h4>Full Wash, Blowdry and Cut</h4> </li><hr>
                <li><span>Fade Cut </span><a class="btn btn-full" href="#">Book</a><span class="cost-of-cut">€16</span><br> <h4>Tight cut back and sides</h4>  </li><hr>
                <li><span>Beard Trim + Cut</span><a class="btn btn-full" href="#">Book</a><span class="cost-of-cut">€22</span><br> <h4>Full Hot Towel Shave included </h4> </li><hr>
                <li><span>Highlights + Cut</span><a class="btn btn-full" href="#">Book</a><span class="cost-of-cut">€25</span><br> <h4>Full Wash, Blowdry and Cut</h4> </li><hr>-->
            </ul>