li {
    border-bottom: 2px solid #DAA520;
    cursor: pointer;
}

.backBtn {
     /*background-image: -webkit-linear-gradient(top, #deab36 0, #deab36 22%, #deab36 48%, #deab36 73%, #d79618 100%);*/
    background: black;
    color: #ffc13d;
    font-size: 15px;
    border: none;
    float: left;
    margin-top: 4px;
    /*margin-left: 5px;*/
    /*margin-top: 25px;
    
    margin-right: 1px;
    margin-bottom: 0px;*/
    /*border-radius: 4px;*/
    width: 20px;
    /*border: 2px solid #DAA520;*/
    height: 35px;
}

h1 {
    margin-left: 0px;
}

.row {
    text-align: center;
}

.button-num {
    padding-left: 30px;
    padding-right: 30px;
    /*background-color: #dca730;*/
    background-image: -webkit-linear-gradient(top, #deab36 0, #deab36 22%, #deab36 48%, #deab36 73%, #d79618 100%);
    border: 1px solid #ffc13d;
    font-family:  'Lato','Arial', 'sans-serif';
    color: #fff;
    margin: 0 auto;
    font-weight: 400;
    /*width: 100px;*/
    /*margin-top: 50px;*/
    /*border: 4px solid #000; */
    border-radius: 30px;
    padding-bottom: 10px;
    cursor: pointer;
    padding-top: 10px;
    float: right;
    /*margin-bottom: 15px;*/
}