h2 {
    color: white;
}

.booking-section {
  

}

h2:after {
    display: block;
    height: 2px;
    background-color: rgb(113, 113, 113);
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

@media only screen and (max-width: 480px){

    .booking-box {
    overflow: scroll;
    background-color: black;
    width: 99%;
    height: 520px;
    padding: 10px;
    /* border: 8px solid #DAA520; */
    margin: 0 auto;
}


.booking-box {
    overflow: scroll;
    background-color: transparent;
    width: 100%;
    height: 520px;
    padding: 10px;
    /* border: 8px solid #DAA520; */
    margin: 0 auto;
}

}
