<section class="booking-section">
      
  <div class="row">
      
        <h2>Book with us Today</h2>
            <div class="booking-box">

                <bookingServices></bookingServices>
                <bookingBarbers></bookingBarbers>
                <bookingDates></bookingDates>
                <bookingTimes></bookingTimes>
                <bookingConfirm></bookingConfirm>
                <bookingSignUp></bookingSignUp>
                <stripePage></stripePage>
            </div>
    </div>
</section>